# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Env
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Node
mobile/node_modules/
mobile/.expo/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
htmlcov/
